<section>
  <p-table
    [value]="videos()"
    [lazy]="true"
    (onLazyLoad)="onLazyLoad($event)"
    [paginator]="true"
    [rows]="10"
    [totalRecords]="total()"
    [loading]="loading()"
    [rowsPerPageOptions]="[10, 20, 50]"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords}"
    styleClass="videos-table"
    [tableStyle]="{ 'min-width': '100%', 'table-layout': 'fixed' }"     
  >
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="title" scope="col">
          Título <p-sortIcon field="title"></p-sortIcon>
        </th>
        <th class="text-center" scope="col">Tipo</th>
        <th class="text-center" scope="col">Tamaño</th>
        <th class="text-center" scope="col">Publicado</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-video>
      <tr>
        <td>{{ video.title }}</td>
        <td class="text-center">{{ video.extension }}</td>
        <td class="text-center">{{ video.size_mb }} MB</td>
        <td class="text-center">{{ video.published_at}}</td>
      </tr>
    </ng-template>
  </p-table>
</section>
