<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>.: Woff :.</title>
		
   	<!-- Bootstrap core CSS -->
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   		
   	<!-- Custom styles for this template -->
   	<link href="#" th:href="@{/css/style.css}" rel="stylesheet" /> 		 		    
</head>
<body>	
	<div class="container">
		<h1>Genre Form</h1>
		<br/>
		<form action="#" th:action=" @{/mov/addGenre}" th:object="${genreModel}" method="post">
			<input type="hidden" th:field="*{id}" ></input>
			Name: <input type="text" class="form-control" th:field="*{name}" th:value="name"></input>
			<br/>
			<br/>
			<div class="panel-body">
				<div class="col-sm-8"></div>
				<div class="col-sm-2">				
					<button class="btn btn-lg btn-primary btn-block" type="submit">
						<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
					</button>
				</div>
				<div class="col-sm-2">				
					<a href="#" th:href="@{/mov/cancelGenre}">
						<button class="btn btn-lg btn-primary btn-block" type="button">
							<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
						</button>	
					</a>		
				</div>					
			</div>
		</form>		
	</div>
</body>
</html>