<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>.: Woff :.</title>
		
   	<!-- Bootstrap core CSS -->
   	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"/>
   		
   	<!-- Custom styles for this template -->
   	<link href="#" th:href="@{/css/style.css}" rel="stylesheet" /> 		 		    
</head>
<body>	
	<div class="container">
		<h1>Serie Form</h1>
		<br/>
				
        <div class="container-fluid">
            <div class="content">            		
				<form class="form-horizontal" action="#" th:action=" @{/mov/addSerie}" th:object="${serieModel}" method="post">
					<div class="form-group">
						<input type="hidden" th:field="*{id}" ></input>
						Name: <input type="text" class="form-control" th:field="*{name}" th:value="name"></input>
					</div>
					
					<div class="form-group">				
						Seasons: <input type="text" class="form-control" th:field="*{seasons}" th:value="seasons"></input>
					</div>
					
					<div class="form-group">				
						Genre: <select class="form-control" th:field="*{genre.codigo}">
						<option value="-1">-- Choice --</option>
						<option th:each="genre : ${genres}" th:value="${genre.id}" th:text="${genre.name}"></option>
						</select> 						
					</div>
					
					<div class="form-group">						
						Creator: <input type="text" class="form-control" th:field="*{created}" th:value="created"></input>
					</div>

					<div class="form-group">						
						Episodes: <input type="text" class="form-control" th:field="*{episodes}" th:value="episodes"></input>
					</div>

					<div class="form-group">						
						Origin: <input type="text" class="form-control" th:field="*{origin}" th:value="origin"></input>
					</div>

					<div class="form-group">				
						Emitter: <select class="form-control" th:field="*{emitter.codigo}">
						<option value="-1">-- Choice --</option>
						<option th:each="emitter : ${emitters}" th:value="${emitter.id}" th:text="${emitter.name}"></option>
						</select> 						
					</div>					

					<div class="form-group">						
						YearFrom: <input type="text" class="form-control" th:field="*{yearFrom}" th:value="yearFrom"></input>
					</div>

					<div class="form-group">						
						YearTo: <input type="text" class="form-control" th:field="*{yearTo}" th:value="yearTo"></input>
					</div>
					
					<div class="form-group">				
						State: <select class="form-control" th:field="*{state.codigo}">
						<option value="-1">-- Choice --</option>
						<option th:each="state : ${states}" th:value="${state.id}" th:text="${state.description}"></option>
						</select> 						
					</div>					

					<br/>

					<div class="panel-body">
						<div class="col-sm-8"></div>
						<div class="col-sm-2">				
							<button class="btn btn-lg btn-primary btn-block" type="submit">
								<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Accept
							</button>
						</div>
						<div class="col-sm-2">				
							<a href="#" th:href="@{/mov/cancelSerie}">
								<button class="btn btn-lg btn-primary btn-block" type="button">
									<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel
								</button>	
							</a>		
						</div>					
					</div>
				</form>		
			</div>
		</div>		
	</div>
</body>
</html>