/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

/* Forzar modo claro (ignorar tema del sistema) */
:root {
  color-scheme: light only;
}

/* Opcional: ajustar el fondo del body */
body {
  margin: 0;
  padding: 0;
}