/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";
@import "primeflex/primeflex.css";

/* Modo oscuro activado */
html.darkmode {
  color-scheme: dark;
}

/* Opcional: ajustar el fondo del body */
body {
  margin: 0;
  padding: 0;
}